@import "tailwindcss";
/* Para tus colores personalizados de Sigmotos, los defines como variables CSS */
@theme {
  --color-moto-black: #0f0f0f;
  --color-moto-orange: #ff5a00;
  --color-moto-gray: #2a2a2a;

  --font-technical: "JetBrains Mono", monospace;
  --font-display: "Syncopate", sans-serif;
}